html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #FFF4F4;
}

.home-container {
	height: 100vh;
	width: 100vh;
}

.home-intro {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	line-height: normal;
	font-size: 53px;
}

.home-apply {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-left: auto;
  margin-right: auto;
}

.home-vector1 {
	width: 210px;
	opacity: 0.95;
	margin-left: 0px;
}

/* small phone screen size */
@media screen and (min-width: 320px ) {
	.home-container {
		padding-top: 113px;
		padding-left: 37px;
		padding-right: 37px;
		width: 320px;
	}
	.home-intro {
		font-size: 41px;
	}
}

/* medium phone screen size */
@media screen and (min-width: 374px ) {
	.home-container {
		padding-top: 113px;
		padding-left: 37px;
		padding-right: 37px;
		width: 375px;
	}
	.home-intro {
		font-size: 53px;
	}
}

/* large phone screen size */
@media screen and (min-width: 424px ) {
	.home-intro {
		font-size: 53px;
	}

	.home-container {
		width: 425px;
	}
}

/* medium/tablet screen size */
@media screen and (min-width: 766px ) {
	.home-container {
		width: 767px;
	}
	.home-intro {
		font-size: 4em;
	}
}

/* large screen size */
@media screen and (min-width: 769px) {
	.home-intro {
		width: 555px;
		font-size: 48px;
		line-height: 55px;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -150px 0 0 -277px;
	}
}
