html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #F0F0F0;
}

.home-container {
	vertical-align: middle;
	padding: 50px;
}

.home-body {
	padding-top: .7em;
	padding-bottom: .5em;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	line-height: normal;
	font-size: 2.7em;
}

.home-apply {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-left: auto;
  margin-right: auto;
}

.home-vector1 {
	width: 210px;
	opacity: 0.95;
	margin-left: 0px;
}

/* medium phone screen size */
@media screen and (min-width: 374px ) {
	.home-body {
		font-size: 3.2em;
	}
}

/* large phone screen size */
@media screen and (min-width: 424px ) {
	.home-body {
		font-size: 3.5em;
	}
}

/* medium/tablet screen size */
@media screen and (min-width: 32em ) {
	.home-body {
		font-size: 5em;
		padding-left: 1em;
		padding-right: 1em;
	}
}

/* large screen size */
@media screen and (min-width: 48em) {
	.home-body {
		font-size: 6em;
		padding-left: 1.8em;
		padding-right: 1.8em;
	}
}
