.prev-next-container {
  height: 100%;
  position: fixed;
  width: 21%;
  right: 0px;
  top: 120px;
}

.prev-next-container a {
  color: black;
}

.pn-content {
 margin-top: 50%;
}

.pn-text {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  width: 150px;
  margin-left: 16%;
  padding-top: 10px;
  padding-bottom: 16px;
}

.arrow-image {
  width: 150px;
  margin-left: 16%;
}
