html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #F0F0F0
}

@media only screen and (max-width: 600px) {
	body .container {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 60px;
	}
	body form {
		grid-template-columns: 1fr;
	}
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 14%;
}


.input {
	border-radius: 6px;
	border: none;
	padding: 10px;
}

.submit {
	background-color: #FC08D5; /* Pink */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	height: 40px;
	width: 90px;
	border-radius: 6px;
}

.disclaimer {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: .75em;
}

.container {
	width: 50%;
	margin: 0 auto;
	padding-top: 80px;
}
